body{
    background-color: lightgray
    
}
div{
    margin: 145px auto;
    background-color: white;
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    border-width: 0px ;
    text-align: center;
    width: 210px;
    padding: 10px;
    
}

img{
    width: 200px;
    border-radius: 5px;
}

h1{
    font-weight: 400px;
    font-size: 15px;
}

p{
    font-size: 15px;
}


